/*Criando variáveis no root que abranje todo o projeto representando o <HTML>*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:       #167BF7;
    --cor-de-fundo:     #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color:            var(--branco-principal);
}

/*Selecionando todos os elementos (*) // Padding define a distancia entre o conteúdo de um elemento e suas bordas*/
* {
    margin:  0;
    padding: 0;
}

/*O selecionador de classes é sempre um ponto (.)// repeat:evita espelhamento da imagem*/
.principal {
    background-image: url("Imagens/Background.png");     /*Imagem decorativa*/
    background-repeat: no-repeat;
    background-size: contain;
}

/*Determina a altura da área do contéudo do elemento// vh:todo o espaço da página*/
.container {
    height: 100vh;
}

/*Primeiro botão*/
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;                  /*Modificando as bordas para que elas fiquem arredondadas*/
    padding: 1em;                        /*Margem interna// 1em é o tamanho da fonte*/
    color: var(--branco-principal);      /*Cor da fonte*/
    display: block                       /*Alinhando o botão*/
}