/*Criando variáveis no root que abranje todo o projeto representando o <HTML>*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:       #167BF7;
    --cor-de-fundo:     #00030C;
    --fonte-principal:  'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/*Selecionando todos os elementos (*) // Padding define a distancia entre o conteúdo de um elemento e suas bordas*/
* {
    margin:  0;
    padding: 0;
}

/*O selecionador de classes é sempre um ponto (.)// repeat:evita espelhamento da imagem*/
.principal {
    background-image: url("Imagens/Background.png");     /*Imagem decorativa*/
    background-repeat: no-repeat;
    background-size: contain;
}

/*Determina a altura da área do contéudo do elemento// vh:todo o espaço da página*/
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*Primeiro botão*/
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;                  /*Modificando as bordas para que elas fiquem arredondadas*/
    padding: 1em;                        /*Margem interna// 1em é o tamanho da fonte*/
    color: var(--branco-principal);      /*Cor da fonte*/
    display: block;                       /*Alinhando o botão*/
    text-decoration: none;                /*Retirando a decoração do texto*/
}

.botao_secundario {
    background-color: transparent;                      /*Botão com o fundo transparente*/
    border: 2px solid var(--branco-principal);  /* Botão com a borda branca*/
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}